/* En globals.css o en tu archivo CSS principal */
@import 'primereact/resources/themes/saga-blue/theme.css'; /* Elige el tema que prefieras */
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: rgb(0, 0, 0);
}

.bg-main {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #ededed;
  background: rgb(0, 0, 0);
}

.text-white{
  color: #ededed;
}

.contacto-h{
  min-height: 450px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: rgb(0, 0, 0);
}

.titulo-main {
  font-size: 100px;
}

.titulo-main1 {
  font-size: 100px;
  font-family: "Pixelify sans", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
  display: inline-block; /* Ensure it wraps around the text */
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ededed;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(0%);
}

.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

.btn-download {
  display: inline-block;
  padding: 10px 20px;
  color: #ededed; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #ededed; /* Línea blanca como borde */
  border-radius: 22px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado en el texto */
  text-align: center; /* Alinear el texto al centro */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.btn-download:hover {
  background-color: #ededed; /* Fondo blanco al hacer hover */
  color: black; /* Cambiar color del texto al hacer hover */
}

.btn-icon {
  font-size: 25px; /* Tamaño del icono */
  margin-bottom: 4px;
}

.contact-box{
  color: #ededed; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #ededed; /* Línea blanca como borde */
  border-radius: 22px; /* Bordes redondeados */
}

/* TEMA OSCURO Y CLARO */

[data-theme='dark'] .bg-main{
  color: #000;
  background: #ededed;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,0,0,) 33%);
}

[data-theme='dark'] a, [data-theme='dark'] a.nav-link.active{
  color: #000!important;
}

[data-theme='dark'] .nav-link {
  color: #000; /* Cambia el color a negro */
}

[data-theme='dark'] .text-white{
  background: #ededed; /* Cambia el color a negro */
  color: #000!important;
}

[data-theme='dark'] .btn-download{
  background: #ededed; /* Cambia el color a negro */
  color: #1c1c1c;
  border: 2px solid #000; /* Línea blanca como borde */
}

[data-theme='dark'] .btn-download:hover{
  background: #000; /* Cambia el color a negro */
  color: #ededed;
}

[data-theme='dark'] .btn-icon{
  color: #000!important;
}

[data-theme='dark'] .btn-icon:hover{
  color: #ededed!important;
}

[data-theme='dark'] .fw-light{
  color: #000!important;
}

[data-theme='dark'] .navbar-nav, [data-theme='dark'] .nav-link::after{
  background-color: #000!important;
}

[data-theme='dark'] .border-hover{
  border-color: #000!important;
}

[data-theme='dark'] .border-top, [data-theme='dark'] .border-bottom{
  border-color: #000!important;
}
