body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: rgb(0, 0, 0);
}

.bg-main {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  background: rgb(0, 0, 0);
}

.text-white{
  color: #fff;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: rgb(0, 0, 0);
}

.titulo-main {
  font-size: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.navbar li.active a {
  border-bottom: 2px solid #fff; /* Línea debajo del enlace activo */
}
